<div class="container" data-controller="dashboard">

  <div class="dashboard-nav">
    <ul>
      <li>
        <a href="#" data-action="click->dashboard#showBookings"><h2 class="paragraph_medium_font active" data-dashboard-target="bookings">Your bookings</h2></a>
      </li>
      <li class="position-relative">
        <a href="#" data-action="click->dashboard#showRental"><h2 class="paragraph_medium_font" data-dashboard-target="rental">Requests</h2></a>
        <% unless @notification == 0 %>
          <button class="position-absolute notifications"><%= @notification %></button>
        <% end %>
      </li>
      <li>
        <a href="#" data-action="click->dashboard#showJewels"><h2 class="paragraph_medium_font" data-dashboard-target="jewels">Your jewels</h2></a>
      </li>
    </ul>

    <div class="cards-display-main" data-dashboard-target="bookcards">
      <% if @bookings_i_made.count == 0 %>
        <p class="paragraph_medium_font">You do not have any booking yet</p>
      <% else %>
        <% @bookings_i_made.reverse.each do |booking| %>
          <div class="main-card">
            <div class="img-card">
              <%= cl_image_tag(booking.jewel.photos.first.key) %>
              <div class="overlay-img"></div>
            </div>
            <div class="card-info">
              <div class="card-info-top">
                <div class="card-text">
                  <p class="heading_small_font primary-green">
                    <%= booking.jewel.name %>
                  </p>
                  <p class="paragraph_small_font text-ellipsis">
                  <%= booking.starting_date.strftime('%d %b') %> -
                    <%= booking.ending_date.strftime('%d %b') %> <%= booking.ending_date.strftime('%Y') %>
                  </p>
                </div>
              </div>
              <div class="card-info-bottom">
              <% if booking.status == 'pending' %>
                <p class="badge-pending m-0">
                <% elsif booking.status == 'accepted' %>
                <p class="badge-accepted m-0">
                <% elsif booking.status == 'canceled' %>
                <p class="badge-canceled m-0">
                <% end %>
                  <%= booking.status %>
                </p>
                <% unless booking.status == 'canceled' || booking.starting_date < Date.today %>
                  <%= link_to jewel_booking_cancel_booking_path(booking.jewel, booking) do %>
                    <p class="badge-cancel m-0">cancel<i class="fa-solid fa-xmark" id="cancel"></i></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="cards-display-main d-none" data-dashboard-target="jewelcards">
     <% if @jewels.count == 0 %>
        <p class="paragraph_medium_font">You do not rent any jewel yet</p>
      <% else %>
        <% @jewels.reverse.each do |jewel| %>
          <%= link_to jewel_path(jewel) do %>
            <div class="main-card">
              <div class="img-card">
                <%= cl_image_tag(jewel.photos.first.key) %>
                <div class="overlay-img"></div>
              </div>
              <div class="card-info">
                <div class="card-info-top">
                  <div class="card-text">
                    <p class="heading_small_font">
                      <%= jewel.name %>
                    </p>
                    <p class="paragraph_small_font text-ellipsis">
                      <%= jewel.comment %>
                    </p>
                  </div>
                </div>
                <div class="card-info-bottom">
                  <p class="label_font m-0 align-self-end">€<%= jewel.price_per_day.round %> / day</p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="cards-display-main d-none" data-dashboard-target="rentalcards">
    <% if @bookings_for_my_jewels.count == 0 %>
      <p class="paragraph_medium_font">No requests yet for your jewels</p>
    <% else %>
      <% @bookings_for_my_jewels.reverse.each do |booking| %>
        <div class="main-card">
          <div class="img-card">
            <%= cl_image_tag(booking.jewel.photos.first.key) %>
            <div class="overlay-img"></div>
          </div>
          <div class="card-info">
            <div class="card-info-top">
              <div class="card-text">
                <p class="heading_small_font">
                  <%= booking.jewel.name %>
                </p>
                <p class="paragraph_small_font text-ellipsis">
                <%= booking.starting_date.strftime('%d %b') %> -
                  <%= booking.ending_date.strftime('%d %b') %> <%= booking.ending_date.strftime('%Y') %>
                </p>
              </div>

            </div>
            <div class="card-info-bottom">
            <% if booking.status == 'pending' %>
              <p class="badge-pending m-0">
              <% elsif booking.status == 'validated' %>
              <p class="badge-accepted m-0">
              <% elsif booking.status == 'canceled' %>
              <p class="badge-canceled m-0">
            <% end %>
              <%= booking.status %>
              </p>
            <% unless booking.status == 'canceled' %>
              <% if booking.status == 'pending' %>
                <div class="d-flex">
                  <%= link_to jewel_booking_accept_booking_path(booking.jewel, booking) do %>
                    <p class="badge-choice m-0"><i class="fa-solid fa-check"></i></i></p>
                  <% end %>
                  <%= link_to jewel_booking_cancel_booking_path(booking.jewel, booking) do %>
                    <p class="badge-choice m-0"><i class="fa-solid fa-xmark"></i></p>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
