<h1>Dashboard</h1>

<h2>Your bookings</h2>
<% @bookings_i_made.each do |booking| %>
<h3><%= booking.jewel.name %></h2>
<p><%= booking.starting_date %></p>
<p><%= booking.ending_date %></p>
<% booking.jewel.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>

<h2>Your jewels</h2>
<% @jewels.each do |jewel| %>
<h3><%= jewel.name %></h3>
<p><%= jewel.brand %></p>
<p><%= jewel.category %></p>
<% jewel.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>

<h2>Bookings on your jewels</h2>
<% @bookings_for_my_jewels.each do |booking| %>
<h3><%= booking.jewel.name %></h2>
<p><%= booking.starting_date %></p>
<p><%= booking.ending_date %></p>
<% booking.jewel.photos do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<% end %>
