<div class="banner" style="background-image: url('https://st.depositphotos.com/1765462/1279/v/450/depositphotos_12798906-stock-illustration-abstract-wallpaper-vector-background.jpg')">
  <div class="container">
  <h1>Rent <strong>Jewels</strong> !</h1>
  </div>
</div>

<div class="container" >
  <div class="jewel-cards">
    <div class="list-text">
      <h3>jewels list</h3>
    </div>

    <div class="jewel-card">
          <% @jewels.each do |jewel| %>
            <div class="list-group-item">
            <%# <%= image_tag jewel.image_links, class:"poster-img" %>
              <div class="jewel-card-text">
                <h4><strong><%= jewel.name%> • <%= jewel.price_per_day %><i class="fa-solid fa-euro-sign"></i></strong></h4>
                <p class="overflow-ellipsis"><%= jewel.brand %></p>
                <div class="jewel-card-footer text-muted mx-auto">
              <button type="button" class="btn-flat btn-outline-secondary"><%= link_to "Show!", jewel_path(jewel) %></button>
              </div>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</div>
