<div class="cards-display-category">
  <%= link_to jewels_path(category: "watch"), class: "text-decoration-none" do %>
    <button class="card-category card-category-watch">Watchs</button>
  <% end %>
  <%= link_to jewels_path(category: "earring"), class: "text-decoration-none" do %>
    <button class="card-category card-category-earing">Earrings</button>
  <% end %>
  <%= link_to jewels_path(category: "bracelet"), class: "text-decoration-none" do %>
    <button class="card-category card-category-bracelet">Bracelets</button>
  <% end %>
  <%= link_to jewels_path(category: "ring"), class: "text-decoration-none" do %>
    <button class="card-category card-category-ring">Rings</button>
  <% end %>
  <%= link_to jewels_path(category: "necklace"), class: "text-decoration-none" do %>
    <button class="card-category card-category-necklace">Necklaces</button>
  <% end %>
</div>
