<div class="cards-display-category">
  <%= link_to jewels_path(category: "watch"), class: "text-decoration-none" do %>
    <div class="card-category card-category-watch">
      <p>Watches</p>
      <div class="category-overlay"></div>
    </div>
  <% end %>
  <%= link_to jewels_path(category: "earring"), class: "text-decoration-none" do %>
    <div class="card-category card-category-earring">
      <p>Earrings</p>
      <div class="category-overlay"></div>
    </div>
  <% end %>
  <%= link_to jewels_path(category: "bracelet"), class: "text-decoration-none" do %>
    <div class="card-category card-category-bracelet">
      <p>Bracelets</p>
      <div class="category-overlay"></div>
    </div>
  <% end %>
  <%= link_to jewels_path(category: "ring"), class: "text-decoration-none" do %>
    <div class="card-category card-category-ring">
      <p>Rings</p>
      <div class="category-overlay"></div>
    </div>
  <% end %>
  <%= link_to jewels_path(category: "necklace"), class: "text-decoration-none" do %>
    <div class="card-category card-category-necklace">
      <p>Necklaces</p>
      <div class="category-overlay"></div>
    </div>
  <% end %>
</div>
