<div class="cards-display-main">
  <% @jewels.each do |jewel| %>
    <% unless jewel.user == current_user %>
      <div class="main-card">
        <div class="img-card">
          <%= cl_image_tag(jewel.photos.first.key) %>
        </div>
        <div class="card-info">
          <div class="card-info-top">
            <div class="card-text">
              <p class="heading_small_font">
                <%= jewel.name %>
              </p>
              <p class="paragraph_small_font text-ellipsis">
              <%= jewel.comment %>
              </p>
            </div>
            <p class="badge label_font"><%= jewel.category %></p>
          </div>
          <div class="card-info-bottom">
            <%= link_to 'Learn more', jewel_path(jewel), class: 'btn-secondary paragraph_medium_font' %>
            <p class="label_font m-0 align-self-end">€<%= jewel.price_per_day.round %> per day</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
