<h1>Edit your jewel :</h1>

<%= simple_form_for(@jewel) do |f| %>
  <%= f.input :name %>
  <%= f.input :price_per_day %>
  <%= f.input :brand %>
  <%= f.input :category, collection: ['Ring', 'Earring', 'Necklace', 'Bracelet', 'Watch'] %>
  <%= f.input :comment %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
