<h1><%= @jewel.name %></h1>
<h2><%= @jewel.brand %></h2>
<p>Only <%=  @jewel.price_per_day %> per day</p>
<p><%= @jewel.category %></p>
<% @jewel.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%= link_to "All our jewels", jewels_path %>

<%= link_to "Edit this jewle", edit_jewel_path(@jewel) if policy(@jewel).edit?%>
<% if policy(@jewel).destroy? %>
  <%= link_to "Delete", jewel_path(@jewel), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>
